.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.681);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.backdrop * {
  box-sizing: border-box;
}

.modal {
  box-sizing: border-box;
  min-width: 500px;
  min-height: 100px;
  max-width: 80vw;
  height: fit-content;
  border-radius: 15px;
  background-color: rgb(225, 80, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
}

.info * {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(225, 80, 39);
}

.info div:nth-child(1) {
  display: flex;
  gap: 10px;
  padding: 5px;
  border-bottom: 1px solid white;
}

.info .content {
  padding: 10px;
  max-height: 300px;
  overflow: auto;
}

.info .content * {
  margin: 3px;
}

.info .content ul,
.info .content ol {
  margin-left: 20px;
}

.info .form-control {
  padding: 5px;
  font-size: large;
  max-height: 300px;
  min-height: 30px;
  resize: vertical;
}

.info .form-btn {
  background-color: rgb(225, 80, 39);
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: larger;
  font-weight: bold;
}
